<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <script src="{% static 'functions.js' %}"></script>
</head>
<body>

<h1>calculator</h1>

<form action="calculate/" method="post" id="form">

{% csrf_token %}

<input id="first_num" name=first_num hidden>
<input id="operator" name="operator" hidden>
<input id="second_num" name="second_num" hidden>

<div id="p02" contenteditable="true"> {{ first_num }} </div>
<input type="button" value="c" onclick='location.href="clear/";'>  <br>
<input type="button" value="1" onclick="num_editor(1)">
<input type="button" value="2" onclick="num_editor(2)">
<input type="button" value="3" onclick="num_editor(3)">
<input type="button" value="+" onclick="op_editor('plus')"> <br>
<input type="button" value="4" onclick="num_editor(4)">
<input type="button" value="5" onclick="num_editor(5)">
<input type="button" value="6" onclick="num_editor(6)">
<input type="button" value="-" onclick="op_editor('minus')"> <br>
<input type="button" value="7" onclick="num_editor(7)">
<input type="button" value="8" onclick="num_editor(8)">
<input type="button" value="9" onclick="num_editor(9)">
<input type="button" value="*" onclick="op_editor('multiply')"> <br>
<input type="button" value="0" onclick="num_editor(0)">
<input type="button" value="." onclick="num_editor('.')">
<input type="button" value="/" onclick="op_editor('devied')">
<input type="button" value="=" onclick="sub()">
</form>


{% if messages %}
  {% for message in messages %}
    {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
  {% endfor %}
{% endif %}



</body>
</html>
