<!DOCTYPE html>
<html>
<body>

<h1>calculator</h1>

<form action="calculate/" method="post">
{% csrf_token %}
your value:<br>
<tr>
<td>{{ first_num }}</td>
</tr>
<br> <br>

<label for="operator">Choose an operator:</label>

<select name="operator" id="operator">
  <option value="plus">+</option>
  <option value="minus">-</option>
  <option value="multiply">*</option>
  <option value="divide">/</option>
</select>

<br> <br>

<input type="text" name="second_num" , id="num" type="number" title="a number">
<p id="p01"></p>
<br> <br>

  <input type="submit" value="Calculate!" onclick="check_num()">
</form>

<script>
function check_num() {
  const message = document.getElementById("p01");
  message.innerHTML = "";
  let x = document.getElementById("num").value;
  try {
    if(x == "")  throw "empty";
    if(isNaN(x)) throw "not a number";
  }
  catch(err) {
    message.innerHTML = "Input is " + err;
  }
}
</script>

{% if messages %}
  {% for message in messages %}
    {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
  {% endfor %}
{% endif %}

<p>
<a href="clear/">clear</a>
</p>

</body>
</html>
